body{
background-color:navy;
}
.LogwarenBild{

position:absolute;
z-index:2;
height:25px;
width:25px;
right:70px;
background-color:#7fffff;
}

.LogFeld{
position:absolute;
font-style:italic;
z-index:2;
height:20px;
width:50px;
right:15px;
background-color:transparent;
border:transparent;
}
#Log2{
visibility:hidden;
background-image:url('images/LogBild.png');
position:absolute;
left:10px;
top:170px;
z-index:2;
height:360px;
width:120px;
}
#LogSchiff{
position:absolute;
background-image:url('images/LogSchiff.png');
left:20px;
top:20px;
z-index:2;
height:80px;
width:100px;
background-color:Transparent;
}
#Ischtuk{
position:absolute;
background-image:url('images/Ischtuk.png');
right:20px;
z-index:34;
height:120px;
width:600px;
background-color:Transparent;
}
#IschtukHafenBild{
background-image:url('images/IschtukHafenBild.png');
position:absolute;
left:20px;
z-index:34;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukExit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukLeute{
position:absolute;
top:-5px;
height:23px;
width:90px;
background-color:lime;
font-size:16px;
color:green;
left:90px;
}
#IschtukGeld{
position:absolute;
top:30px;
height:23px;
width:90px;
background-color:lime;
font-size:16px;
color:green;
left:90px;
}
#IschtukNahrung{
position:absolute;
top:65px;
height:23px;
width:90px;
background-color:lime;
font-size:16px;
color:green;
left:90px;
}
#IschtukTaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukTaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukTaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60px;
height:60px;
width:60px;
background-color:transparent;
}

#IschtukTaverne{
visibility:hidden;
background-image:url('images/TaverneLeer.png');
position:absolute;
top:120px;
right:0px;
z-index:14;
height:450px;
width:600px;
}
#IschtukTaverneFenster{
background-image:url('images/Wolken100X100.png');
position:absolute;
top:36px;
right:144px;
height:100px;
width:100px;
}
#IschtukTaverneFenster2{
background-image:url('images/Fenster.png');
position:absolute;
top:30px;
right:130px;
height:112px;
width:129px;
}
#IschtukTaverneTheke{
background-image:url('images/TaverneThekeLeer.png');
position:absolute;
top:0px;
right:0px;
z-index:11;
height:450px;
width:600px;
}
#IschtukTaverneLeute{
background-image:url('images/TaverneLeute.png');
position:absolute;
top:137px;
left:70px;
z-index:16;
height:165px;
width:165px;
}
#IschtukTaverneHund{
background-image:url('images/Hund1.png');
position:absolute;
top:237px;
left:350px;
z-index:12;
height:90px;
width:90px;
}
#IschtukTaverneBilderRahmenSchiff{
background-image:url('images/BilderRahmenSchiff.png');
position:absolute;
top:50px;
left:160px;
z-index:12;
height:73px;
width:100px;
}
#IschtukTaverneBilderRahmenSchiff2{
background-image:url('images/BilderRahmenSchiff2.png');
position:absolute;
top:70px;
right:20px;
z-index:12;
height:89px;
width:33px;
}
#IschtukTaverneBarceeper{
background-image:url('images/TaverneBarceeper.png');
position:absolute;
top:139px;
right:160px;
z-index:16;
height:50px;
width:50px;
}
#IschtukTaverneSchatzKarte{
background-image:url('images/TaverneSchatzKarte.png');
position:absolute;
top:259px;
right:30px;
z-index:16;
height:169px;
width:157px;
}
#IschtukTavernePersonal{
background-image:url('images/TavernePersonal.png');
position:absolute;
top:265px;
left:30px;
z-index:36;
height:174px;
width:220px;
}
#IschtukKontor{
visibility:hidden;
position:absolute;
top:90px;
right:0px;
z-index:14;
height:80px;
width:600px;
}
#IschtukKontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:80;
top:20px;
right:20px;
height:60px;
width:60px;
background-color:transparent;
}

#IschtukKontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukKontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukKontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120px;
height:60px;
width:60px;
background-color:transparent;
}
#Ischtukkontorbild{
position:absolute;
background-image:url('images/Kontorbild.png');
width:420px;
height:450px;
z-index:44;
right:0px;
top:20px;
}
.warenBild{
position:absolute;
left:40px;
border:transparent;
background-color:transparent;
width:20px;
z-index:44;
height:20px;
}
.warenMenge{
position:absolute;
left:65px;
width:30px;
border:transparent;
background-color:transparent;
}
.warenPreis{
position:absolute;
font-style:italic;
left:340px;
width:60px;
border:transparent;
background-color:transparent;
}
.warenName{
position:absolute;
font-style:italic;
left:230px;
border:transparent;
background-color:transparent;
width:70px;
}
.kaufen1{
background-image:url('images/kaufen1.png');
position:absolute;
left:160px;
background-color:#AEFF9E;
width:20px;
height:20px;
}
.kaufen5{
background-image:url('images/kaufen5.png');
position:absolute;
left:180px;
background-color:#8CFF75;
width:20px;
height:20px;
}
.kaufen10{
background-image:url('images/kaufen10.png');
position:absolute;
left:200px;
background-color:#4AFF26;
width:20px;
height:20px;
}
.verkaufen1{
background-image:url('images/kaufen1.png');
position:absolute;
left:140px;
background-color:#FF9E9E;
width:20px;
height:20px;
}
.verkaufen5{
background-image:url('images/kaufen5.png');
position:absolute;
left:120px;
background-color:#FF6868;
width:20px;
height:20px;
}
.verkaufen10{
background-image:url('images/kaufen10.png');
position:absolute;
left:100px;
background-color:#FF1414;
width:20px;
height:20px;
}
#IschtukHafen{
visibility:hidden;
position:absolute;
top:90px;
right:0px;
z-index:14;
height:80px;
width:600px;
background-color:transparent;
}
#IschtukHafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0px;
top:40px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukHafenUpgradeExitKnopf{
visibility:hidden;
background-image:url('images/exit.png');
position:absolute;
z-index:40;
top:40px;
right:0px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukHafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
top:396px;
right:90px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukHafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukGovernour{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90px;
right:0px;
z-index:14;
height:80px;
width:600px;
background-color:transparent;
}
#IschtukGovernourExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukGovernourInfoKnopf{
background-image:url('images/Info.png');
position:absolute;
z-index:34;
right:60px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukGovernourHomeKnopf{
background-image:url('images/Home.png');
position:absolute;
z-index:34;
right:120px;
height:60px;
width:60px;
background-color:transparent;
}
#IschtukGovernourKnopf{
background-image:url('images/Governour.png');
position:absolute;
z-index:34;
right:240px;
height:60px;
width:60px;
background-color:transparent;
}